<div class="fleetListColumn">
    
    <div class="toolbar">
        <i id="newButton" class="bi bi-cloud-plus toolbarIcon" data-bs-toggle="tooltip" data-bs-placement="top" title="New fleet"></i>
        <i id="saveButton" class="bi bi-cloud-download toolbarIcon" data-bs-toggle="tooltip" data-bs-placement="top" title="Save fleet"></i>
        <i id="printButton" class="bi bi-printer toolbarIcon" data-bs-toggle="tooltip" data-bs-placement="top" title="Print fleet"></i>
        <i id="exportButton" class="bi bi-table toolbarIcon" data-bs-toggle="tooltip" data-bs-placement="top" title="Export as .csv"></i>
    </div>
    
    <div class="fleetList" id="fleetContents">
        
        <div class="fleetInfo">
            <div class="fleetName"></div><div class="fleetPoints">0 pts</div>
        </div>
        
        <div id="fleetListDisplay">
        </div>
    
    </div>
    
</div>